/* Write your CSS here */
.tab-Item {
  color: #7b8794;
}
.category-btn {
  width: 110px;
  background-color: transparent;
  color: #7b8794;
  border-style: solid;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  font-size: 18px;
  border-bottom: 1px solid #7b8794;
}
.btn-selection {
  color: #2563eb;
  border-bottom: 1px solid #2563eb;
  font-weight: bold;
}
